/* ================== GENERAL ================== */

*{
  margin: 0;
  padding: 0;
}

html, body {
  
  background: linear-gradient(
    45deg,
    #0B666A,
    #009FBD,
    #0d5b89
  );
  font-family: 'helvetica neue';
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-size: cover; /* Ensures the background covers the entire viewport */
}

body::-webkit-scrollbar {
  display: none;
}

/* ================== HEADER ================== */

header {
  text-align: center;
  width: 100%;
  padding: 3rem;
  background: linear-gradient(
  90deg,
  transparent,
  #00ADB5,
  transparent
);
position: relative; 
}

/* The house button */
header a img { 
  height: 4rem;
  width: 4rem;
  position: absolute; 
  top: 1rem;
  right: 2rem;
}

/* ================== GENERAL WRAPER ================== */

.general_wraper {    
  min-height: 83.5rem;
  margin: 4rem auto auto auto;
}

/* ================== LIST OF LISTS ================== */

.lists__wrapper {
  position: fixed;
  width: 25%;
  border: 3px solid #2B3467;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  box-shadow: 50px 5px 15px -5px #0d5b89;
  -webkit-box-shadow: 0px -22px 39px -3px #0d5b89;
  -moz-box-shadow: 18px -22px 39px -3px #0d5b89;
  background-image: url('/images/lists_background.png');
  background-color: #4C4C6D;
  top: 10rem;
  left: 12.5rem;  
}

.lists__header {
  text-decoration: underline;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #FFEEBB;
  background-color: #18204b;
}

.wrapper_div_for_lists_of_lists {
  max-height: 30rem; 
  overflow-y: scroll;
}

.list_of_lists{
  list-style-type: none; 
  padding: 0;
  margin:0;
  display: grid;
  overflow-y: auto;
}

.list_item {
  display: flex;
  cursor: pointer;
  border-bottom: 2px solid #241468;
  align-items: flex-end;
  justify-content: space-between; 
}

.list_name {
  color: #F6F1E9;
  font-size: 30px;
  margin: 0;
  display: flex;
  word-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

button {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  display: flex;
}

.delete-button:hover {
  background-color: #091d1f;
}

.display-button:hover {
  background-color: #FFE1AF;
}

.new_list_form {
  display: flex;
}

img {
  width: 30px;
}

::placeholder {
  color: grey;
  opacity: 1;
}

input {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 150%;
}
/* ================== LIST OF TASKS ================== */

.tasks_wraper {
  width: 25%;
  border: 3px solid #00425A;
  box-shadow: 50px 5px 15px -5px #0d5b89;
  -webkit-box-shadow: 0px -22px 39px -3px #0d5b89;
  -moz-box-shadow: 18px -22px 39px -3px #0d5b89;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  background-image: url('/images/tasks_background.png');
  background-color: #1B9C85;
  /* margin: 4rem auto auto auto; */
  margin: auto 40%;
  position: absolute;
}

.tasks_header {
  color: #FFEEBB;
  text-decoration: underline;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  /* border-bottom: 1px solid #F6F1E9; */
  background-color: #00425A;
}

.list_of_tasks {
  list-style-type: none; 
  text-align: center;
  padding: 0;
  margin:0;
}

.task_item {
  display: flex;
  cursor: pointer;
  border-bottom: 2px solid #241468;
  align-items: flex-end;
  justify-content: space-between;
}

.task_name {
  color: #F6F1E9;
  font-size: 30px;
  margin: 0;
  margin-left: 8px;
  display: flex;
  word-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

.new_task_form {
  display: flex;
}

/* ================== CLOCK ================== */

.clock__wrapper {
  position: absolute;
  width: 15%; 
  right: 15rem;
  top: 10rem;  
  display: flex;
  align-items: center; 
  justify-content: center;
}

.handwatch-img {
  width: 100%; 
  height: 60%;
}

.date-time {
  color: #F7E987;
  transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
}

.time-part {
  font-family: 'Orbitron', sans-serif;
  font-size: 4.3rem;
  top: 50%; 
  left: 48%; 
}

.date-part {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.8rem;
  top: 70%; 
  left: 48%; 
}

/* Rest of your CSS remains unchanged */


/* ================== FOOTER ================== */

footer {
  text-align: center;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  background: linear-gradient(
  90deg,
  transparent,
  #00ADB5,
  transparent
);
}

footer small {
  font-size: 1.5rem;
  color: #F7E987;
  font-weight: bolder;
}



/* ================== MEDIA QUERIES ================== */



/* ============= MEDIA QUERIES (MEDIUM DEVICES (Tablets)) =============*/

@media screen and (max-width: 400px){
  .lists__wrapper {
    width: 40%;
    top: 10rem;
    left: 2rem;  
  }

  .tasks_wraper {
    width: 40%;
    left: 6rem;
  }

  .clock__wrapper {
    width: 15%; 
    right: 17rem;
    top: 3rem;  
  }

  .time-part {
    font-size: 1rem;
  }
  
  .date-part {
    font-size: 0.5rem;
  }

  .list_name {
    font-size: 20px;
  }
  
  .task_name {
    font-size: 20px;
  }
  
  img {
    width: 20px;
  }
  
  input {
    font-size: 100%;
  }
}

/* ============= MEDIA QUERIES (SMALL DEVICES (Phones)) =============*/

@media screen and (max-width: 375px) {
  .lists__wrapper {
    width: 40%;
    top: 10rem;
    left: 2rem;  
  }

  .tasks_wraper {
    width: 40%;
    left: 6rem;
  }

  .clock__wrapper {
    width: 15%; 
    right: 16rem;
    top: 3rem;  
  }

  .time-part {
    font-size: 1rem;
  }
  
  .date-part {
    font-size: 0.5rem;
  }

  .list_name {
    font-size: 20px;
  }
  
  .task_name {
    font-size: 20px;
  }
  
  img {
    width: 20px;
  }
  
  input {
    font-size: 100%;
  }
}