/* ================== GENERAL ================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-image: url('/images/3.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat:no-repeat;
  font-family: 'helvetica neue';
  scroll-behavior: smooth;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  width: 30px;
}

::placeholder {
  color: grey;
  opacity: 1;
}

input {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 150%;
}

/* ================== HEADER ================== */

header {
  text-align: center;
  width: 100%;
  height: calc(5vh - 5rem);
  padding: 5rem;
  background: linear-gradient(
  90deg,
  transparent,
  #00ADB5,
  transparent
);
position: relative; 
}

.logo {
  height: 8rem;
  width: 15rem;
  position: absolute; 
  top: 1rem;
  left: 1rem;
}

/* ================== GENERAL WRAPER ================== */

.general_wraper {
  display: flex;
  justify-content: space-between; 
  padding: 0 10rem;
  height: 92vh;
  align-items: start; /* Align items to the top */
}

/* ================== LISTS ================== */

.lists__wrapper {
  margin-top: 3%;
  width: 30%;
  border: 3px solid #2B3467;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  box-shadow: 50px 5px 15px -5px #0d5b89;
  -webkit-box-shadow: 0px -22px 39px -3px #0d5b89;
  -moz-box-shadow: 18px -22px 39px -3px #0d5b89;
  background-image: url('/images/lists_background.png');
  background-color: #4C4C6D;
}

.lists__header {
  text-decoration: underline;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #FFEEBB;
  background-color: #18204b;
}

.wrapper_div_for_lists_of_list {
  min-height: 0vh; 
  max-height: 50vh; 
  overflow-y: scroll;
}

.list_of_lists{
  list-style-type: none; 
  padding: 0;
  margin:0;
  display: grid;
  overflow-y: auto;
}

.list_item {
  display: flex;
  cursor: pointer;
  border-bottom: 2px solid #241468;
  align-items: flex-end;
  justify-content: space-between; 
}

.list_name {
  color: #F6F1E9;
  font-size: 30px;
  margin: 0;
  display: flex;
  word-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

button {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  display: flex;
}

.delete-button:hover {
  background-color: #091d1f;
}

.display-button:hover {
  background-color: #FFE1AF;
}

.new_list_form {
  display: flex;
}

/* ================== TASKS ================== */

.tasks_wraper {
  margin-top: 3%;
  width: 30%;
  border: 3px solid #00425A;
  box-shadow: 50px 5px 15px -5px #0d5b89;
  -webkit-box-shadow: 0px -22px 39px -3px #0d5b89;
  -moz-box-shadow: 18px -22px 39px -3px #0d5b89;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  background-image: url('/images/tasks_background.png');
  background-color: #1B9C85;
}

.tasks_header {
  color: #FFEEBB;
  text-decoration: underline;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  background-color: #00425A;
}

.wrapper_div_for_tasks_of_list {
  min-height: 0vh; 
  max-height: 50vh; 
  overflow-y: scroll;
}

.list_of_tasks {
  list-style-type: none; 
  text-align: center;
  padding: 0;
  margin:0;
}

.task_item {
  display: flex;
  cursor: pointer;
  border-bottom: 2px solid #241468;
  align-items: flex-end;
  justify-content: space-between;
}

.task_name {
  color: #F6F1E9;
  font-size: 30px;
  margin: 0;
  margin-left: 8px;
  display: flex;
  word-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

.new_task_form {
  display: flex;
}

/* ================== CLOCK ================== */

.clock__wrapper {
  margin-top: 3%;
  width: 15%;
  align-items: center; 
  justify-content: center;
  position: relative;
  display: flex;
}

.handwatch-img {
  width: 100%; 
}

.date-part, .time-part {
  position:absolute;
  z-index: 1;  
  color: #420516;
  font-weight: bolder;     
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

.time-part {
  font-family: 'Orbitron', sans-serif;
  font-size: 150%;
  top: 45%;
}

.date-part {
  font-family: 'Libre Baskerville', serif;
  font-size: 130%;
  top: 55%;
}

/* ================== FOOTER ================== */

footer {
  text-align: center;
  width: 100%;
  height: calc(3vh - (3rem * 2));
}

footer p {
  color: #FFD700;
  padding: calc(3rem - 1.25rem);
  background: linear-gradient(
    90deg,
    transparent,
    #00ADB5,
    transparent
  );
  font-size: 2.5rem;
  width: 100%;
}



/* ================== MEDIA QUERIES ================== */

/* ============= MEDIA QUERIES (SMALL DEVICES (Phones)) =============*/

@media screen and (max-width: 600px) {

  img {
    width: 15px;
  }

  input {
    font-size: 1.5rem;
  }

  header {
    height: calc(5vh - 3rem);
    padding: 3rem; 
  }

  .logo {
    height: 4rem; 
    width: 7rem; 
  }

  .general_wraper {
    padding: 0 2rem;
    justify-content: space-between; 
  }

  .lists__wrapper {
    width: 45%;
    border-width: 2px;
  }

  .lists__header {
    font-size: 2.5rem;
  }

  .list_item {
    border-bottom-width: 1px;
  }

  .list_name {
    font-size: 1.5rem;
  }

  .tasks_wraper {
    width: 45%;
    border-width: 2px;
  }

  .tasks_header {
    font-size: 2.5rem;
  }

  .task_item {
    border-bottom-width: 1px;
  }

  .task_name {
    font-size: 1.5rem;
  }

  .clock__wrapper {
    height: 4rem; 
    width: 7rem; 
    position: absolute;
    top: 0;
    right: 1rem;
    background-color: #FFD361;
  }

  .handwatch-img {
    display: none;
  }

  .time-part {
    font-size: 1.1rem;
    top: 30%;
    color: #111111;
  }

  .date-part {
    font-size: 1rem;
    top: 70%;
    color: #111111;
  }
}


